In [ ]:
import pandas as pd
from datetime import timedelta, datetime
import random

In [ ]:
df_node_1 = pd.DataFrame([], columns=['Oximetria','Hora','Data'])
df_node_2 = pd.DataFrame([], columns=['Oximetria','Hora','Data'])

In [ ]:
# gerando data e hora

day = datetime.fromisoformat('2022-06-16T00:00:00')
oximetro_days = []
oximetro_hour = []

new_date = day + timedelta(minutes=1)

for i in range(0,10080):
  oximetro_days.append(new_date.strftime('%d-%m-%y'))
  oximetro_hour.append(new_date.strftime('%H:%M:%S'))
  new_date = new_date + timedelta(minutes=1)

oximetro_days[10079] = '22-06-22'

In [ ]:
# gerando dados do ox√≠metro
random.seed(100)

oximetro_data_1 = [random.randint(40,98) for _ in range(0,10080)]
oximetro_data_2 = [random.randint(90,98) for _ in range(0,10080)]

In [ ]:
df_node_1['Hora'] = oximetro_hour
df_node_1['Data'] = oximetro_days
df_node_2['Hora'] = oximetro_hour
df_node_2['Data'] = oximetro_days

df_node_1['Oximetria'] = oximetro_data_1
df_node_2['Oximetria'] = oximetro_data_2

In [ ]:
df_node_1[:24]

    Oximetria      Hora      Data
0          49  00:01:00  16-06-22
1          69  00:02:00  16-06-22
2          69  00:03:00  16-06-22
3          89  00:04:00  16-06-22
4          51  00:05:00  16-06-22
5          85  00:06:00  16-06-22
6          65  00:07:00  16-06-22
7          86  00:08:00  16-06-22
8          62  00:09:00  16-06-22
9          67  00:10:00  16-06-22
10         72  00:11:00  16-06-22
11         91  00:12:00  16-06-22
12         47  00:13:00  16-06-22
13         74  00:14:00  16-06-22
14         47  00:15:00  16-06-22
15         45  00:16:00  16-06-22
16         87  00:17:00  16-06-22
17         69  00:18:00  16-06-22
18         56  00:19:00  16-06-22
19         43  00:20:00  16-06-22
20         82  00:21:00  16-06-22
21         81  00:22:00  16-06-22
22         53  00:23:00  16-06-22
23         61  00:24:00  16-06-22

In [ ]:
df_node_1.to_csv("/content/drive/MyDrive/tcc-dados/fogify/dados_oximetro_sensor_1.csv")
df_node_2.to_csv("/content/drive/MyDrive/tcc-dados/fogify/dados_oximetro_sensor_2.csv")